@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--text-color: #f0f0f0;
	--bg-color: #0077b6;
	--main-color: #003566;

	--color-transition: all 0.3s ease;
}

html.light {
	--text-color: #001524;
	--bg-color: #ade8f4;
	--main-color: #0fa3b1;
}

html {
	/* changes the 1REM from 16px to 10px */
	font-size: 62.5%;
}

body {
	font-family: "Poppins", sans-serif;
	height: 100vh;
	background-color: var(--bg-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	overflow: hidden;
	transition: var(--color-transition);
}

.toggler {
	background-color: #06d6a0;
	width: 13rem;
	min-height: 5rem;
	border-radius: 99rem;
	margin-top: 2rem;
	transition: var(--color-transition);
	position: relative;
}

.toggler.dark {
	background-color: #5a189a;
}

.toggler .switch {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	position: absolute;
	top: 5px;
	left: 5px;

	background-color: #ffba08;
	transition: all 1s ease;
}

.toggler .switch.dark {
	left: 65%;
	background-color: #8d99ae;
	filter: brightness(130%);
	box-shadow: inset 0 1px 8px rgba(255, 186, 10, 0.5);
}

.toggler .switch.dark::before {
	content: "";
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	background-color: #5a189a;
	right: 35%;
	filter: brightness(76%);
}

.box h1 {
	color: var(--text-color);
	letter-spacing: 1px;
	font-weight: 500;
	transition: var(--color-transition);
}

.input {
	border: none;
	padding: 1rem 1rem;
	width: 55rem;
	margin-top: 4rem;
	font-family: inherit;
	border-radius: 7px;
	background-color: var(--main-color);
	font-size: 1.8rem;
	color: var(--text-color);
	transition: var(--color-transition);
}

.input:focus,
.input:focus-visible {
	outline: none;
}

.input::placeholder {
	color: var(--text-color);
}

.github-card {
	background-color: var(--main-color);
	border-radius: 22px;
	display: flex;
	max-width: 65rem;
	margin: 2rem 1rem 0;
	overflow: hidden;
	transition: var(--color-transition);
}

.profile-image {
	width: 12rem;
	height: 12rem;
	border-radius: 50%;
	border: 3px springgreen solid;
	overflow: hidden;
}

.profile-image img {
	width: 12rem;
	height: 12rem;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.profile-details {
	width: 75%;
	color: var(--text-color);
	margin-left: 3rem;
	display: flex;
	flex-direction: column;
	font-size: 1.2rem;
	transition: var(--color-transition);
}

.username {
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 2rem;
	margin: 1rem 0 0.5rem;
}

.user-desc {
	line-height: 1.7;
}

.user-metrics {
	width: 80%;
	display: flex;
	align-items: center;
	margin: 1.6rem 0;
}

.user-metrics div {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-right: 5rem;
}

.user-metrics div:last-child {
	margin-right: 1rem;
}

.user-metrics div span {
	font-size: 1.4rem;
}

.user-metrics div span:last-child {
	font-size: 1.2rem;
}

.repo-section {
	display: flex;
	flex-wrap: wrap;
}

.repo-section .repo {
	text-decoration: none;
	padding: 2px 5px;
	background-color: var(--bg-color);
	margin: 0 1.4rem 1rem 0;
	border-radius: 2px;
	color: var(--text-color);
	transition: var(--color-transition);
}

@media (max-width: 42em) {
	.input {
		width: 80%;
		margin-left: 2rem;
		margin-right: 2rem;
	}

	.github-card {
		width: 95%;
		flex-direction: column;
		align-items: center;
		margin: 2rem 2rem 0;
	}

	.profile-image {
		width: 16rem;
		height: 16rem;
	}

	.profile-image img {
		width: 16rem;
		height: 16rem;
	}

	.profile-details {
		margin: 0 2rem;
	}
}
